NODE_ENV=development
PORT=8080

FIREBASE_PROJECT_ID=aligndata-arcop
FRONTEND_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000,https://arcop-portal.vercel.app

RESEND_API_KEY=re_3Q4TUDcU_77sdRSSxFy8whSdXQ5xbSP9U
RESEND_FROM=admin@aligndata.cl
RESEND_FROM_NAME=Portal ARCOP
DPO_EMAIL=jerezcarlos70@gmail.com